.Container{
    max-width: 1200px;
    margin: 0 auto;
}
.styleTick{
    width: 2rem !important;
}

@media screen and (max-width: 1020px) {

    .styleRow{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .styleTick{
        width: 2rem !important;
    }
    .StyleSvg{
        display: none;
    }
 
 }
